{% extends "layout.html" %}
{% block content %}

<div class="text-center">
    <h1 class="fw-bold text-primary">Malnutrition Detection Using AI</h1>
    <p class="lead mt-3">
        A deep learning based system to identify malnutrition in children
        using facial image analysis.
    </p>

    <img src="https://cdn-icons-png.flaticon.com/512/3870/3870918.png"
         width="200" class="my-4">

    <div>
        <a href="/predict" class="btn btn-primary btn-lg">
            Start Prediction
        </a>
    </div>
</div>

{% endblock %}
