h11
pillow
pip
attrs
distro
wheel
cryptography
setuptools
requests
colorama
idna
multidict
propcache
sniffio
markupsafe
werkzeug
click
jinja2
blinker
itsdangerous
httpcore
httpx
jiter
openai
aiohttp
yarl
aiosignal
frozenlist
aiohappyeyeballs
certifi
urllib3
anyio
pydantic
pycparser
pypdfium2
packaging
tomli
autocommand
inflect
typeguard
platformdirs
zipp
pdfplumber
flask
python-dotenv