{% include "header.html" %}
		<div class="container">
		<!--	<div class="left"></div>
			<div class="right"></div>
			<div class="clear"></div>-->
            <div class="content"><br><h1>Abstract</h1><br><br>
                <p>Health insurance is a critical component of financial planning, providing individuals and families with a safety net against unexpected medical expenses. The rising cost of healthcare has made it essential for individuals to predict potential insurance charges accurately, enabling them to choose suitable insurance plans. Given the complexity of calculating health insurance premiums, which depend on multiple factors such as age, lifestyle, and health status, machine learning offers a promising solution for automating and optimizing this process.
This project, titled “Health Insurance Price Prediction using Machine Learning,” aims to develop a system that can accurately predict health insurance premiums based on personal and lifestyle attributes. The system is built using Python as the coding language, with a user-friendly web interface developed using HTML, CSS, and JavaScript. The Flask web framework integrates the front end and backend, allowing seamless interactions for users. We aim to build the prediction process leveraging two machine learning models: Random Forest Regressor or Stacking Regressor, both well-suited for regression tasks due to their ability to handle complex data patterns and interactions.
 </p>
            </div>
        </div>
</body>
</html>