{% include "header.html" %}
		<div class="container">
		<!--	<div class="left"></div>
			<div class="right"></div>
			<div class="clear"></div>-->
            <div class="content"><br><h1>Abstract</h1><br><br>
                <p>Cardiotocography is a valuable obstetric technique used to monitor the fetal heart rate and the mother's uterine contractions during pregnancy. By analyzing cardiotocographs, healthcare professionals can gain a comprehensive understanding of fetal health, leading to improved outcomes for both the fetus and the mother. However, traditional methods of analyzing cardiotocographs through human observation can be subjective and unreliable. To address this issue, artificial intelligence can be employed for more accurate predictions of fetal health.</p><p>

A study was conducted using data from 2126 cardiotocograph recordings of pregnant women, sourced from the University of California, Irvine, and the University of Porto. The study aimed to monitor fetal health using AI models. The primary goal was to develop a model capable of predicting fetal health outcomes. The model provides three predictions: a healthy fetus (indicated by the number 1), a suspected health problem (number 2), and a definitive health problem (number 3).
</p>
		</div>

	</div>

</body>
</html>