{% extends "base.html" %}
{% block content %}
<h4>User Login</h4>
<div class="row justify-content-center">
    <div class="col-md-4">
        <div class="card p-4">
            <h4 class="text-center mb-3">User Login</h4>

            <form method="post">
                <div class="mb-3">
                    <label>Username</label>
                    <input type="text" name="username" class="form-control" required>
                </div>

                <div class="mb-3">
                    <label>Password</label>
                    <input type="password" name="password" class="form-control" required>
                </div>

                <button class="btn btn-primary w-100">Login</button>
            </form>
        </div>
    </div>
</div>

{% endblock %}
