{% include "header_admin.html" %}

<!-- Sidebar -->
  <div class="sidebar">
    <h4 class="text-center">Admin Panel</h4>
    <a href="{{ url_for('admin_bp.xcp_acc') }}" >Accuracy </a>
    <a href="{{ url_for('admin_bp.xcp_loss') }}">Loss</a>
    <a href="{{ url_for('admin_bp.xcp_cnf') }}" style="background-color: #0C1618; color: #F6BE9A">Confusion Matrix</a>
    <a href="{{ url_for('admin_bp.xcp_clfrpt') }}">Classification Report</a>
    <a href="{{ url_for('admin_bp.xcp_roc') }}">ROC Curve</a>
    <a href="{{ url_for('admin_bp.xcp_prc') }}">PRC Curve</a>
    <a href="{{ url_for('home') }}">Logout</a>
  </div>
<br>
<div class="main-content" style=" margin-left: 250px;">
    <h2 class="text-indigo">Confusion Matrix</h2>
    <p class="lead text-muted">Below is the Confusion Matrix for Xception model </p>

    <div class="row mt-4">
      <div class="col-md-4">
        <div class="card shadow rounded-3 p-3 text-center" style="width: 920px; height: 470px ">
            <img src="../static/vis/xcp_cnf.jpg" width="880px" height="440px">
        </div>
      </div>
    </div>
  </div>

{% include "footer.html" %}