{% include "header_admin.html" %}

<!-- Sidebar -->
  <div class="sidebar">
    <h4 class="text-center">Admin Panel</h4>

    <a href="{{ url_for('admin_bp.eff_cnf') }}">Confusion Matrix</a>
    <a href="{{ url_for('admin_bp.eff_clfrpt') }}">Classification Report</a>
    <a href="{{ url_for('admin_bp.eff_acc') }}">Accuracy Curve</a>
    <a href="{{ url_for('admin_bp.eff_loss') }}">Loss Curve</a>
    <a href="{{ url_for('home') }}">Logout</a>
  </div>
<br>
<div class="main-content" style=" margin-left: 250px;">
    <h2 class="text-indigo">Classification Report</h2>
    <p class="lead text-muted">Below is the Classification Report for EfficientNet Classifier </p>

    <div class="row mt-4">
      <div class="col-md-4">
        <div class="card shadow rounded-3 p-3 text-center" style="width: 920px; height: 470px ">
            <img src="../static/dl/effnet_clfrpt.png" width="880px" height="440px">
        </div>
      </div>
    </div>
  </div>

{% include "footer.html" %}