{% include "header.html" %}

  <main class="content container">
    <div class="card">

      <p>Recently, skin cancer is one of the spread and dangerous cancers around the world. Early detection of skin cancer can reduce mortality. Traditional methods for skin cancer detection are painful, time-consuming, expensive, and may cause the disease to spread out. Dermoscopy is used for noninvasive diagnosis of skin cancer. Artificial Intelligence (AI) plays a vital role in diseases’ diagnosis especially in biomedical engineering field. The automated detection systems based on AI reduce the complications in the traditional methods and can improve skin cancer’s diagnosis rate. In this paper, automated early detection system for skin cancer dermoscopic images using artificial intelligent is presented. </p>
    </div>
  </main>

{% include "footer.html" %}