{% include "header_admin.html" %}

<!-- Sidebar -->
  <div class="sidebar">
    <h4 class="text-center">Admin Panel</h4>

    <a href="{{ url_for('admin_bp.lr_cnf') }}">Confusion Matrix</a>
    <a href="{{ url_for('admin_bp.lr_clfrpt') }}">Classification Report</a>
    <a href="{{ url_for('admin_bp.lr_roc') }}">ROC Curve</a>

    <a href="{{ url_for('home') }}">Logout</a>
  </div>
<br>
<div class="main-content" style=" margin-left: 250px;">
    <h2 class="text-indigo">ROC CURVE</h2>
    <p class="lead text-muted">Below is the ROC Curve for Logistic Regression Classifier </p>

    <div class="row mt-4">
      <div class="col-md-4">
        <div class="card shadow rounded-3 p-3 text-center" style="width: 470px; height: 450px ">
            <img src="../static/ml/logistic%20regression_roc_curve.png" width="440px" height="440px">
        </div>
      </div>
    </div>
  </div>

{% include "footer.html" %}