{% include "header_admin.html" %}
<div class="container">
    <div class="content">
    <div style="width: 800px; height: 190px">
        <br><br>
    <button onclick="hide_Acc()">Click here to create the model</button>
        <div class="lds-ripple" id="gear" style="display: none; margin: 150px"><div></div><div></div></div>
<div id="AccDisplay" style="display: none; width:800px; height:170px">
    <p style="color: darkolivegreen;font-size: large">{{ msg }}</p><br><br>
    <p style="color: navy;font-size: large">R2 Score of the model is {{ acc['R2_Score'] }}</p><br>
    <p style="color: navy;font-size: large">Adjusted R2 Score of the model is {{ acc['Adj_R2_Score'] }}</p><br>
    <p style="color: navy;font-size: large">Mean Absolute Error of the model is {{ acc['mae'] }}</p><br>
    <p style="color: navy;font-size: large">Mean Squared Error of the model is {{ acc['mse'] }}</p><br>
    <p style="color: navy;font-size: large">Root Mean Squared Error of the model is {{ acc['rmse'] }}</p><br>



</div>

</div>
</div>
</div>

</body>
</html>

<script>
var myVar;

function hide_Acc() {
  document.getElementById("AccDisplay").style.display = "none";
  document.getElementById("gear").style.display = "block";
  myVar = setTimeout(show_Acc, 3000);
}
function show_Acc() {
document.getElementById("gear").style.display = "none";
document.getElementById("AccDisplay").style.display = "block";
}

</script>

