{% include "header_user.html" %}

<div class="content">
    <br>
<form action="{{ url_for('user_bp.predict')}}" method="POST">
   <div class="wrap-input100 validate-input">
					<input id="longitude" class="input100" type="number" step="any"  name="longitude" title="A measure of how far west a house is; a higher value is farther west" required="required" placeholder="Longitude Ex : -124, -120, -114, etc"/>
					<span class="focus-input100"></span>
					<label class="label-input100 rs1" for="message">
						<span class="lnr lnr-bubble"></span>
					</label>
				</div>

				<!--2-->
				<div class="wrap-input100 validate-input">
					<input id="latitude" class="input100" type="number" min="0" step="any" name="latitude" title="A measure of how far north a house is; a higher value is farther north" required="required" placeholder="Latitude Ex : 32,33,24, etc"/>
					<span class="focus-input100"></span>
					<label class="label-input100 rs1" for="message">
						<span class="lnr lnr-bubble"></span>
					</label>
				</div>

				<!--3-->
				<div class="wrap-input100 validate-input">
					<input id="housing_median_age" class="input100" type="number" step="any" min="0" title="Median age of a house within a block; a lower number is a newer building" required="required" name="housing_median_age" placeholder="Median age of a house within a block"/>
					<span class="focus-input100"></span>
					<label class="label-input100 rs1" for="message">
						<span class="lnr lnr-bubble"></span>
					</label>
				</div>

				<!--4-->
				<div class="wrap-input100 validate-input">
					<input id="total_rooms" class="input100" step="any" type="number" min="0" name="total_rooms" title="Total number of rooms within a block" required="required" placeholder="# of rooms within a block"/>
					<span class="focus-input100"></span>
					<label class="label-input100 rs1" for="message">
						<span class="lnr lnr-bubble"></span>
					</label>
				</div>

				<!--5-->
				<div class="wrap-input100 validate-input">
					<input id="total_bedrooms" class="input100" type="number" min="0" step="any" name="total_bedrooms" title="Total number of bedrooms within a block" required="required" placeholder="# of bedrooms within a block"/>
					<span class="focus-input100"></span>
					<label class="label-input100 rs1" for="message">
						<span class="lnr lnr-bubble"></span>
					</label>
				</div>

				<!--6-->
				<div class="wrap-input100 validate-input">
					<input id="population" class="input100" type="number" min="0" step="any" title="Total number of people residing within a block" required="required" name="population" placeholder="# of people residing within a block"/>
					<span class="focus-input100"></span>
					<label class="label-input100 rs1" for="message">
						<span class="lnr lnr-bubble"></span>
					</label>
				</div>

				<!--7-->
				<div class="wrap-input100 validate-input">
					<input id="households" class="input100" type="number" min="0" step="any"  name="households"  title="Total number of households, a group of people residing within a home unit, for a block" required="required" placeholder="# of people residing within a home unit, for a block"/>
					<span class="focus-input100"></span>
					<label class="label-input100 rs1" for="message">
						<span class="lnr lnr-bubble"></span>
					</label>
				</div>

				<!--8-->
				<div class="wrap-input100 validate-input">
					<input id="median_income" class="input100" type="number" min="0" step="any"  name="median_income" title="Median income for households within a block of houses (measured in tens of thousands of US Dollars)" required="required" placeholder="Median income for households within a block of houses"/>
					<span class="focus-input100"></span>
					<label class="label-input100 rs1" for="message">
						<span class="lnr lnr-bubble"></span>
					</label>
				</div>

				<!--9-->
				<div class="wrap-input100 validate-input">
					<label class="label-input100" for="name">
						<span class="lnr lnr-user m-b-2"></span>
					</label>
					<select id="ocean_proximity" class="input100" required="required" name="ocean_proximity"/>
								<option value="" disabled selected hidden>Select Location of the house w.r.t Ocean/Sea</option>
								<option value="0">Inland</option>
								<option value="1">Not near Ocean</option>
								<option value="2">Near Ocean</option>
								<option value="3">Near Bay</option>
								<option value="4">Island</option>
					</select>

				</div>

				<div class="container-contact100-form-btn">
					<button class="contact100-form-btn">
						Predict
					</button>
				</div>

<div class="clr"></div>
    </form>
</div>
