{% extends "base.html" %}
{% block content %}
<div class="row justify-content-center">
    <div class="col-md-4">
        <div class="card shadow">
    <div class="card-header bg-dark text-white text-center">
        <h4>Admin Login</h4>
    </div>
    <div class="card-body text-center">
        <!--<img src="{{ url_for('static', filename='images/admin.png') }}" width="80">-->
        <form method="post" class="mt-3">
            <input class="form-control mb-3" placeholder="Username" name="username">
            <input class="form-control mb-3" type="password" placeholder="Password" name="password">
            <button class="btn btn-primary w-100">Login</button>
        </form>
    </div>
</div>
    </div>
</div>
{% endblock %}
