{% include "header.html" %}

  <main class="container d-flex justify-content-center align-items-center" style="height: 75vh;">
    <div class="card shadow p-4 rounded-4" style="width: 100%; max-width: 400px;">
      <h3 class="text-center text-indigo mb-3">Admin Login</h3>
       <form action="/admin_home" method="post">
        <div class="mb-3">
          <label for="adminUser" class="form-label">Username</label>
          <input type="text" class="form-control" name="adminUser" placeholder="Enter username">
        </div>
        <div class="mb-3">
          <label for="adminPass" class="form-label">Password</label>
          <input type="password" class="form-control" name="adminPass" placeholder="Enter password">
        </div>
        <button type="submit" class="btn btn-primary w-100" style="background-color: darkcyan; border: none;">Login</button>
      </form>
    </div>
  </main>



{% include "footer.html" %}